body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F6F7F7;
}
.Menu-bar {
    background-color: #81AFCF;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #594545;
}
.Menu-bar button {
    background-color: #F6F7F7;
    color: #594545;
    border: 2px solid #594545;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.Menu-bar button:hover {
    background-color: #594545;
    color: #FFFFFF;
}
h1 {
    text-align: center;
    color: #594545;
    font-size: 2rem;
    margin-bottom: 20px;
}
.Container {
    background-color: #D0E1EE;
    max-height: 900px;
    width: 90%;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
}
.Table-Container {
    max-height: calc(500px);
    overflow-y: auto;
    border: 1px solid #81AFCF;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #81AFCF;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #81AFCF;
    background-color: #F6F7F7;
    color: #594545;
    height: 40px;
}
table a {
    color: #81AFCF;
    text-decoration: none;
    font-weight: bold;
}
table a:hover {
    color: #594545;
    text-decoration: underline;
}