/* Resetting default browser styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #334eac;
    color: #F5EfEb;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

header {
    background-color: #bad6eb;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    margin: 0;
    display: flex; /* Ensure items are laid out in a row */
    align-items: center; /* Vertically align items in the center */
}

.navbar ul li {
    margin: 0 13px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    background-color: transparent; /* Removed initial background */
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    color: #334eac;
    background-color: #ffffff; /* Added background on hover */
}

.navbar ul li.active a {
    color: #334eac;
}

.icon {
    margin-left: 13px;
}

.icon img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: right;
}

.Resume a {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    background-color: #334eac;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
    border: 2px solid #ffffff;
}

.Resume a:hover {
    background-color: #ffffff;
    color: #334eac;
    border-color: #334eac;
}

.Resume {
    margin-left: auto;
}

.main-home {
    background-color: #fff9ef;
    padding: 80px 0;
    text-align: center;
}

.main-home h1 {
    color: #334eac;
    font-size: 4rem;
    margin-bottom: 15px;
}

.main-home p {
    font-size: 2rem;
    color: #bad6eb;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    background-color: #fff9ef;
    color: #334eac;
    padding: 10px 20px;
    text-decoration: none;
    border-style: double;
    border-radius: 50px;
    border-color: #334eac;
    font-size: 1.5rem;
}

.button:hover {
    background-color: #334eac;
    color: #ffffff;
    border-style: double;
    border-color: #ffffff;
    border-radius: 50px;
}

.main-work {
    padding: 60px 0;
    color: #ffffff;
    text-align: center;
}

.main-certificate h2,
.main-work h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    color: #ffffff;
}

.main-certificate p,
.main-work p {
    font-size: 5rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.main-contact h2,
.main-about h2,
.main-more h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    color: #334eac;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.project-card {
    background-color: #334eac;
    border-color: #ffffff;
    border-style: solid;
    padding: 20px;
    border-radius: 15px;
}

.project-card h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.project-card p {
    color: #ffffff;
    font-size: 1.7rem;
}

.project-card a {
    color: #ffffff;
    font-size: 1.7rem;
}

.project-card a:hover {
    color: #bad6eb;
}

.project-picture img {
    border-radius: 20px;
    max-width: 100%;
    height: 300px;
    text-align: center;
}

.main-about {
    padding: 60px 0;
    background-color: #ffffff;
    color: #334eac;
}

.main-about h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.main-about .container p {
    line-height: 1.8;
    font-size: 2rem;
}

.certificate-picture img {
    border-radius: 20px;
    max-width: 100%;
    height: 300px;
    text-align: center;
}

footer {
    background-color: #bad6eb;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
}

.main-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.main-contact ul li a {
    text-decoration: none;
    color: #334eac;
    font-size: 1.5rem;
}

.main-contact {
    background-color: #ffffff;
}

.main-contact ul li a:hover {
    color: #bad6eb;
}

.certificate-card {
    background-color: #334eac;
    border-color: #ffffff;
    border-style: solid;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 20px;
}

.certificate-card h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

/* popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-image {
    max-width: 45%;
    max-height: 45%;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
